.row-container {
    margin-left: 20px;
    color: white;
}

.movie-card {
    width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
}

.row-cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}